.about-section{
    padding: 0 8rem;
    margin-bottom: 4rem;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.about-section h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.about-section h2 span{
    color: var(--color-02);
}

.about-section .about-container{
    display: flex;
    gap: 2rem;
    background-color: var(--color-04);
}

.about-ilustration,
.about-content{
    flex-grow: 1;
}

.about-section .about-container .about-ilustration img{
    height: 100%;
}

.about-section .about-container .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section .about-container .about-content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about-section .about-container .about-content p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
