.button-primary{
    display: inline-block;
    width: fit-content;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: var(--color-02);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.button-primary:hover{
    letter-spacing: 0.1rem;
}
